@import url("./CardImg.css");
@import url("./Header.css");
@import url("./LandingPage.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	main {
		display: flex;
		justify-content: center;
		min-width: 320px;
		min-height: 100vh;
	}

	a {
		font-weight: 500;
		color: #646cff;
		text-decoration: inherit;
		&:hover {
			color: #535bf2;
		}
	}

	button {
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		background-color: #1a1a1a;
		cursor: pointer;
		transition: border-color 0.25s;

		&:hover {
			border-color: #646cff;
		}
		&:focus,
		&:focus-visible {
			outline: 4px auto -webkit-focus-ring-color;
		}
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
